body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section {
    border: 0;
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, audio, canvas, video {
    display: block
}

html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    font-size: 100%;
    min-height: 100%
}

strong {
    font-weight: bold
}

em {
    font-style: italic
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a img, img {
    border: 0;
    -ms-interpolation-mode: bicubic
}

li {
    list-style-type: none
}

input, textarea, button, select {
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    vertical-align: baseline
}

button, input[type="reset"], input[type="submit"] {
    cursor: pointer
}

textarea {
    overflow: auto;
    vertical-align: top
}

pre, code {
    font-family: monospace, monospace;
    font-size: 1em
}

pre {
    white-space: pre;
    word-wrap: break-word
}

@font-face {
    font-family: "roboto";
    src: url("./roboto-light.eot?v=0.5315582265616479");
    src: url("./roboto-light.eot?#iefix&v=0.21147066566504868") format("embedded-opentype"), url("./roboto-light.woff?v=0.5668155694971859") format("woff"), url("./roboto-light.ttf?v=0.10535183354961908") format("truetype"), url("./roboto-light.svg#robotolight?v=0.29231086363307757") format("svg");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "roboto";
    src: url("./roboto-regular.eot?v=0.0011472174094662169");
    src: url("./roboto-regular.eot?#iefix&v=0.07737095426770724") format("embedded-opentype"), url("./roboto-regular.woff?v=0.8657901596628417") format("woff"), url("./roboto-regular.ttf?v=0.15357939908169205") format("truetype"), url("./roboto-regular.svg#robotoregular?v=0.9066884101861266") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "roboto";
    src: url("./roboto-medium.eot?v=0.8629900354636852");
    src: url("./roboto-medium.eot?#iefix&v=0.18994441852070865") format("embedded-opentype"), url("./roboto-medium.woff?v=0.9160852920370135") format("woff"), url("./roboto-medium.ttf?v=0.2766528543043738") format("truetype"), url("./roboto-medium.svg#robotomedium?v=0.16201959060622428") format("svg");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: "flightfox";
    src: url("./flightfox.eot?v=0.8228468824241428");
    src: url("./flightfox.eot?#iefix&v=0.48523882523024864") format("embedded-opentype"), url("./flightfox.woff?v=0.898552384723365") format("woff"), url("./flightfox.ttf?v=0.4624290480106863") format("truetype"), url("./flightfox.svg#flightfox?v=0.8534884795666351") format("svg");
    font-weight: normal;
    font-style: normal
}

html {
    height: 100%
}

body {
    background: #f7f7f7;
    color: #222;
    font-family: roboto, sans-serif;
    height: 100%;
    margin: 0
}

h1, h2, h3, h4 {
    color: #222;
    font-weight: normal;
    line-height: 1.2
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
    text-align: center
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem
}

h3 {
    font-size: 1rem;
    margin-bottom: 1rem
}

a {
    color: #dd4124;
    text-decoration: none
}

a:hover, a:active {
    color: #222
}

a:focus {
    outline: 0
}

a.alt-text {
    color: #222
}

a.alt-text:hover, a.alt-text:active {
    color: #dd4124
}

hr {
    background: #f7f7f7;
    border: 0;
    clear: both;
    height: .0625rem
}

table.fixed {
    table-layout: fixed
}

.cell {
    margin: 0 auto;
    min-width: 18rem
}

.subtitle {
    margin: -1rem 0 2rem;
    padding: 0 1rem;
    text-align: center
}

.subtitle p {
    color: #444;
    font-size: .875rem;
    line-height: 1.5rem;
    margin: 0 auto 1.5rem;
    max-width: 30rem
}

.good {
    color: #0477bf;
    font-weight: bold
}

.bad {
    color: #dd4124;
    font-weight: bold
}

.attn {
    color: gold;
    font-weight: bold
}

.avatar {
    display: block;
    height: 2.25rem;
    margin: auto;
    width: 2.25rem;
    -webkit-border-radius: 100%;
    -khtml-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%
}

.clearfix:after {
    content: "";
    clear: both;
    display: block
}

.none {
    color: #ccc;
    font-size: .875rem;
    text-align: center !important
}

.block {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

.icon {
    font-family: flightfox
}

.microdata {
    display: none
}

.ui-helper-hidden-accessible {
    display: none
}

#main {
    clear: both
}

.wrap, .tabgroup, .menugroup {
    border-bottom: .0625rem solid #ddd;
    border-top: .0625rem solid #ddd;
    margin-bottom: 2rem;
    position: relative
}

.wrap.thin, .tabgroup.thin, .menugroup.thin {
    padding: 1rem
}

.wrap.nomargin, .tabgroup.nomargin, .menugroup.nomargin {
    margin-bottom: 0
}

.wrap.nopad, .panel.nopad {
    padding: 0
}

.wrap.noborder, .panel.noborder {
    border: 0
}

.wrap.sideborder, .panel.sideborder {
    border-bottom: 0;
    border-top: 0
}

.wrap {
    background: #fff;
    padding: 2rem 1rem
}

.wrap .title {
    background: #f7f7f7;
    border-bottom: .0625rem solid #ddd;
    text-align: center
}

.wrap .title div {
    display: inline-block;
    font-size: .875rem;
    padding: 1rem 0;
    width: 100%
}

.tabs {
    border-bottom: .0625rem solid #ddd;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%
}

.tabs .count {
    background: #0477bf;
    color: #fff;
    display: none;
    font-size: .6875rem;
    height: 1.125rem;
    line-height: 1.125rem;
    margin: -0.5rem 0 -0.5rem .5rem;
    text-align: center;
    width: 1.125rem;
    -webkit-border-radius: 100%;
    -khtml-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%
}

.tabs .count.new {
    display: inline-block
}

.tab, .tab-fake {
    background: #f7f7f7;
    border-right: .0625rem solid #ddd;
    color: #dd4124;
    cursor: pointer;
    display: table-cell;
    font-size: .875rem;
    padding: 1rem 0;
    position: relative;
    text-align: center
}

.tab.on, .tab-fake.on {
    background: #fff;
    border-right: .0625rem solid #ddd;
    color: #222;
    cursor: auto
}

.tab.on:after, .tab-fake.on:after {
    border-bottom: .0625rem solid #fff;
    bottom: -0.0625rem;
    display: block;
    content: ' ';
    position: absolute;
    width: 100%
}

.tab.on:first-child, .tab-fake.on:first-child {
    border-left: 0
}

.tab:last-child, .tab-fake:last-child {
    border-right: 0
}

.tab:only-child, .tab-fake:only-child {
    background: #f7f7f7
}

.tab:only-child:after, .tab-fake:only-child:after {
    border-bottom: 0;
    bottom: 0
}

.panel {
    background: #fff;
    display: none;
    padding: 2rem 1rem
}

.panel.on {
    display: block
}

.menus {
    border-bottom: .0625rem solid #ddd;
    border-top: .0625rem solid #ddd;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%
}

.menu {
    background: #f7f7f7;
    border-right: .0625rem solid #ddd;
    color: #dd4124;
    cursor: pointer;
    display: table-cell;
    font-size: .875rem;
    padding: 1rem 0;
    position: relative;
    text-align: center
}

.menu:first-child {
    border-left: .0625rem solid #ddd
}

.menu:last-child {
    border-right: .0625rem solid #ddd
}

.menu.on {
    background: #fff;
    color: #222
}

.stops {
    background: #fff;
    padding: 2rem 1rem
}

#page_contact_map .gm-ui-hover-effect {
    display: none !important
}

#page_contact_map>div>div>div:nth-child(1)>div:nth-child(3)>div>div:nth-child(4)>div>div>div>div>div>div {
    margin-left: 5px
}

#content {
    width: 100%
}

#content h1 {
    text-align: left;
    padding: 0
}

#menu li {
    margin-bottom: .125rem
}

#menu a {
    background: #f7f7f7;
    color: #222;
    display: block;
    font-size: .875rem;
    padding: 1rem
}

#menu a:hover {
    color: #dd4124
}

#menu .sub {
    margin-bottom: 1.5rem;
    display: none
}

#menu .sub li {
    line-height: 1.25rem
}

#menu .sub li.last {
    border-bottom: 0
}

#menu .sub a {
    background: #fff;
    padding: 1.5rem 2rem 0
}

#menu .sub.on {
    display: block
}

#menu.top {
    margin-bottom: 2rem
}

#menu.bottom {
    margin-top: 2rem
}

fieldset {
    padding-bottom: 1rem
}

label {
    display: block;
    font-size: .875rem;
    padding-bottom: .5rem
}

.textarea {
    resize: vertical;
    overflow: scroll;
    overflow-x: hidden
}

.textarea * {
    color: inherit !important
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="number"], input[type="file"], textarea, .textarea, .select {
    background: #fff;
    border: .0625rem solid #ddd;
    display: block;
    font-size: .875rem;
    margin: 0 0 1rem;
    padding: .5rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

input[type="text"].err, input[type="password"].err, input[type="email"].err, input[type="url"].err, input[type="number"].err, input[type="file"].err, textarea.err, .textarea.err, .select.err {
    border-color: #dd4124
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="number"]:focus, input[type="file"]:focus, textarea:focus, .textarea:focus, .select:focus {
    border: .0625rem solid #444;
    outline: 0
}

input[readonly], textarea[readonly], select[readonly] {
    color: #999;
    cursor: not-allowed;
    pointer-events: none
}

textarea {
    height: 4.75rem;
    resize: vertical
}

.row {
    clear: both;
    overflow: hidden
}

.select {
    overflow: hidden;
    padding: 0;
    position: relative
}

.select:before {
    border-right: 1.5rem solid #fff;
    bottom: 0;
    content: " ";
    height: 100%;
    position: absolute;
    pointer-events: none;
    right: 0;
    top: 0;
    width: 1.5rem;
    z-index: 99
}

.select:not(.loading):after {
    border: .25rem solid transparent;
    border-top-color: #222;
    content: " ";
    height: 0;
    margin-top: -0.125rem;
    position: absolute;
    pointer-events: none;
    right: .5rem;
    top: 50%;
    width: 0;
    z-index: 100
}

.select.disabled::after {
    display: none
}

.select.disabled {
    pointer-events: none
}

.select select {
    background-color: transparent;
    background-image: none;
    border: 0;
    box-shadow: none;
    margin: 0;
    padding: .5rem;
    width: 150%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

.select select:focus {
    outline: 0
}

.select-date {
    table-layout: fixed;
    width: 100%
}

.select-date .space {
    width: 1rem
}

.button {
    background: #222;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: .875rem;
    line-height: normal;
    margin: 0;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0
}

.button.block {
    padding-left: 0;
    padding-right: 0
}

.button:hover {
    background: #d13c20;
    color: #fff
}

.button:focus {
    outline: 0
}

.button.urg {
    background: #dd4124
}

.button.urg:hover {
    background: #222
}

.button.sub {
    background: #999
}

.button.sub:hover {
    background: #dd4124
}

.ques {
    color: #dd4124;
    float: right;
    font-size: .875rem;
    padding-left: 1rem
}

.loading {
    min-width: .875rem;
    min-height: .875rem;
    position: relative
}

.loading:before {
    color: #ddd;
    content: 'loading';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.25rem;
    height: 1.25rem;
    margin-top: -0.625rem;
    margin-left: -0.625rem;
    z-index: 1001;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

.loading:not(:required):before {
    content: '';
    border: .25rem solid #dd4124;
    border-right-color: transparent;
    -webkit-animation-name: loading;
    -moz-animation-name: loading;
    -o-animation-name: loading;
    animation-name: loading;
    -webkit-animation-duration: .75s;
    -moz-animation-duration: .75s;
    -o-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-border-radius: 100%;
    -khtml-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes loading {
    from {
        -moz-transform: rotate(0)
    }
    to {
        -moz-transform: rotate(360deg)
    }
}

@-ms-keyframes loading {
    from {
        -ms-transform: rotate(0)
    }
    to {
        -ms-transform: rotate(360deg)
    }
}

@-o-keyframes loading {
    from {
        -o-transform: rotate(0)
    }
    to {
        -o-transform: rotate(360deg)
    }
}

@keyframes loading {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

.loading:after {
    background: #fff;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1000
}

.placeholder {
    color: #444
}

#error_page {
    padding: 4rem 2rem;
    text-align: center
}

#error_page p {
    font-size: .875rem;
    margin-bottom: 2rem
}

#error_page .button {
    margin-bottom: 2rem
}

#error_page .home {
    font-size: .875rem
}

#flash, .flash {
    color: #fff;
    font-size: .875rem;
    margin-bottom: 2rem;
    padding: .625rem 1rem;
    text-align: center
}

#flash a, .flash a {
    color: white;
    text-decoration: underline
}

#flash.error, .flash.error {
    background: #dd4124
}

#flash.important, .flash.important {
    background: #dd4124
}

#flash.notice, .flash.notice {
    background: #0477bf
}

ul.error {
    clear: both;
    border-bottom: .0625rem solid #dd4124;
    margin-top: -1rem !important;
    margin-bottom: 1rem !important
}

ul.error li {
    color: #dd4124;
    font-size: .75rem !important;
    padding: .625rem 0 !important
}

.notification {
    background: #0477bf;
    border-top: .25rem solid #dd4124;
    color: #fff;
    display: none;
    font-size: .875rem;
    height: 3.5rem;
    left: 0;
    line-height: 3.5rem;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2147483637
}

.notification a {
    color: #fff;
    text-decoration: underline
}

.notification.important {
    background-color: #dd4124
}

#app_invalidate {
    background: #222;
    background: rgba(0, 0, 0, 0.75);
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2147483638
}

#app_invalidate .note {
    background: #0477bf;
    border-top: .25rem solid #dd4124;
    color: #fff;
    display: table;
    font-size: .875rem;
    height: 3.5rem;
    text-align: center;
    width: 100%
}

#app_invalidate .note span {
    display: table-cell;
    padding: 0 2rem;
    vertical-align: middle
}

#app_invalidate .note a {
    color: white;
    text-decoration: underline
}

#desktop_notification_enable {
    display: none;
    font-size: .875rem;
    padding-bottom: 2rem;
    text-align: center
}

#desktop_notification_enable span {
    color: #dd4124;
    font-weight: bold
}

#desktop_notification_enable .notice {
    padding-bottom: 1rem
}

.modal-body {
    overflow: hidden
}

.modal-container {
    background: rgba(0, 0, 0, 0.85);
    bottom: 0;
    display: none;
    left: 0;
    overflow: scroll;
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 10000;
    -webkit-font-smoothing: subpixel-antialiased
}

.modal-container .modal {
    background: #f7f7f7;
    display: inline-block;
    margin: 0 auto;
    max-width: 25rem;
    position: relative;
    width: 100%;
    -webkit-border-radius: .5rem;
    -khtml-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    border-radius: .5rem;
    -webkit-box-shadow: 0 0 3rem #000;
    -khtml-box-shadow: 0 0 3rem #000;
    -moz-box-shadow: 0 0 3rem #000;
    -ms-box-shadow: 0 0 3rem #000;
    -o-box-shadow: 0 0 3rem #000;
    box-shadow: 0 0 3rem #000
}

.modal-container .button {
    -webkit-font-smoothing: subpixel-antialiased
}

.modal-container .icon.cancel {
    color: #ddd;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    padding: 1rem;
    text-align: center;
    top: 0;
    z-index: 101;
    -webkit-border-radius: 100%;
    -khtml-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%
}

.modal-container .icon.cancel:hover {
    color: #dd4124
}

.modal-container .heading {
    background: #fff;
    border-bottom: .0625rem solid #ddd;
    padding: 1.5rem 2rem 0;
    text-align: left;
    -webkit-border-radius: .5rem .5rem 0 0;
    -khtml-border-radius: .5rem .5rem 0 0;
    -moz-border-radius: .5rem .5rem 0 0;
    -ms-border-radius: .5rem .5rem 0 0;
    -o-border-radius: .5rem .5rem 0 0;
    border-radius: .5rem .5rem 0 0
}

.modal-container .section {
    padding: 2rem;
    text-align: left
}

#modal {
    display: none
}

#modal .backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5
}

#modal .cell {
    background: white;
    position: fixed;
    z-index: 9;
    -webkit-border-radius: 1rem;
    -khtml-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border-radius: 1rem;
    max-height: 50vh;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 2rem)
}

#modal .cell .modal-content {
    display: none
}

#modal .cell .content {
    padding: 2rem
}

#modal .cell .content h3 {
    margin-bottom: .5rem
}

#modal .cell .content img {
    max-width: 100%
}

#modal .cell .content p {
    line-height: 1.75;
    margin-bottom: 1.5rem
}

#modal .cell .content .icon {
    color: #ddd;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    text-align: center
}

#modal .cell .close {
    position: sticky;
    right: 1rem;
    top: 1rem;
    float: right;
    margin-right: -1.5625rem;
    margin-top: -1.5625rem;
    z-index: 1
}

#modal .cell .close span {
    cursor: pointer;
    color: #999
}

#modal .cell .close span:hover {
    color: #dd4124
}

.tooltip {
    display: block;
    font-family: Arial;
    padding: .5rem;
    position: absolute;
    z-index: 999
}

.tooltip.top {
    margin-top: -0.25rem
}

.tooltip-inner {
    background: #222;
    color: #ddd;
    font-size: .875rem;
    line-height: 1.5;
    max-width: 15rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: .5rem;
    -khtml-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    border-radius: .5rem
}

.tooltip-arrow {
    border-color: transparent;
    border-style: solid;
    height: 0;
    position: absolute;
    width: 0
}

.tooltip.top .tooltip-arrow {
    border-top-color: #222;
    border-top-color: rgba(0, 0, 0, 0.85);
    border-width: .5rem .5rem 0;
    bottom: 0;
    left: 50%;
    margin-left: -0.5rem
}

.tooltip.right .tooltip-arrow {
    border-right-color: #222;
    border-right-color: rgba(0, 0, 0, 0.85);
    border-width: .5rem .5rem .5rem 0;
    left: 0;
    margin-top: -0.5rem;
    top: 50%
}

.tooltip.left .tooltip-arrow {
    border-left-color: #222;
    border-left-color: rgba(0, 0, 0, 0.85);
    border-width: .5rem 0 .5rem .5rem;
    margin-top: -0.5rem;
    right: 0;
    top: 50%
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #222;
    border-bottom-color: rgba(0, 0, 0, 0.85);
    border-width: 0 .5rem .5rem;
    left: 50%;
    margin-left: -0.5rem;
    top: 0
}

.popup-menu {
    background: #222;
    color: #ccc;
    display: none;
    font-size: .875rem;
    line-height: 1.5;
    min-width: 10rem;
    position: absolute;
    right: 0;
    top: 2rem;
    z-index: 1001
}

.popup-menu a {
    display: block;
    color: #fff;
    padding: 1rem
}

.popup-menu a:hover {
    color: #dd4124
}

.popup-menu li {
    border-bottom: .0625rem solid #666;
    float: none;
    padding: 0
}

.popup-menu li:last-child {
    border-bottom: 0
}

.popup-menu span {
    color: #444;
    display: block;
    padding: .5rem
}

.popup-menu:before {
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-bottom: .5rem solid #222;
    content: ' ';
    height: 0;
    right: 1rem;
    position: absolute;
    top: -0.5rem;
    width: 0
}

#head {
    border-top: .25rem solid #222;
    font-size: .875rem;
    height: 1rem;
    margin-bottom: 2rem;
    padding: 2rem 1rem 0
}

#head .cell {
    position: relative
}

#logo {
    left: 0;
    position: absolute
}

#logo img {
    height: 1.5rem
}

#user_menu {
    color: #444;
    position: absolute;
    right: 0;
    top: 0
}

#user_menu .get-started {
    padding-left: 4rem
}

#foot {
    clear: both;
    padding-bottom: 2rem;
    text-align: center
}

#foot .cell {
    padding: 0
}

#foot .links {
    font-size: .875rem;
    padding-bottom: 1rem
}

#foot .links li {
    padding: .5rem 1rem
}

#foot table {
    font-size: 2rem;
    margin: auto;
    text-align: center
}

#foot table div {
    border-top: .0625rem solid #ddd;
    display: inline-block;
    height: 0;
    margin-top: 1.25rem;
    vertical-align: top;
    width: 1rem
}

#foot table .icon {
    color: #ddd;
    padding: 0 .25rem
}

#foot table .icon:hover {
    color: #dd4124
}

#home {
    background: #fff
}

#home h1 {
    font-size: 2rem
}

#home h2 {
    font-size: 1.5rem
}

#home h3 {
    font-size: 1rem;
    line-height: 1.5rem
}

#home .section {
    text-align: center
}

#home .section .cell {
    padding: 0 2rem
}

#home .start {
    font-size: 1.125rem;
    padding: 1rem 4rem
}

#user_menu .hiring {
    padding-right: 4rem
}

#user_menu .popup-menu:hover {
    display: block
}

#foot {
    background: #f7f7f7
}

#home_what .hero {
    padding: 4rem 0 0;
    position: relative
}

#home_what .pitch {
    color: #444;
    margin: 0 auto 4rem;
    max-width: 44rem
}

#home_what .pitch strong {
    color: #0477bf
}

#home_what .start {
    margin-bottom: 2rem
}

#home_what .personal {
    margin-bottom: 4rem
}

#home_what .personal a {
    color: #999
}

#home_what .personal a:hover {
    color: #dd4124
}

#home_what .features {
    background: #fff;
    position: relative
}

#home_what .features ul {
    margin: auto;
    max-width: 24rem;
    padding-bottom: 14rem
}

#home_what .features li {
    padding-bottom: 4rem;
    padding-left: 5rem;
    position: relative;
    text-align: left
}

#home_what .features li p {
    color: #444;
    font-size: 1rem;
    line-height: 1.75rem
}

#home_what .features li .icon {
    font-size: 3rem;
    left: 0;
    position: absolute
}

#home_what .features li .icon-2 {
    font-size: 3.5rem
}

#home_what .features li .icon-4, #home_what .features li .icon-5 {
    font-size: 3.25rem
}

#home_what .features li .icon-3 {
    font-size: 2.75rem
}

#home_what .features li:last-child {
    padding-bottom: 0
}

#home_what .city {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%
}

#home_what .interface {
    background: #333;
    padding-bottom: 8rem
}

#home_what .interface h2 {
    color: #e6e6e6
}

#home_what .interface h3 {
    color: #999;
    display: none;
    margin-bottom: 0
}

#home_what .interface img {
    margin-bottom: 4rem;
    width: 100%
}

#home_how {
    background: #f7f7f7
}

#home_how .bg-top {
    border-top: 4rem solid #333;
    border-right: 50vw solid #f7f7f7;
    border-bottom: 4rem solid #f7f7f7;
    border-left: 50vw solid #333;
    height: 0;
    width: 0
}

#home_how .cell {
    padding: 8rem 1rem !important
}

#home_how h2 {
    margin-bottom: 4rem
}

#home_how li {
    margin-bottom: 4rem
}

#home_how li:last-child {
    margin-bottom: 0
}

#home_how p {
    color: #444;
    font-size: 1rem;
    line-height: 1.75rem;
    margin: auto;
    max-width: 20rem
}

#home_how .icon {
    color: #444;
    display: block;
    font-size: 6rem;
    margin: 0 auto 2rem
}

#home_who1 {
    background: #fff
}

#home_who1 .bg-top {
    border-top: 4rem solid #f7f7f7;
    border-right: 50vw solid #fff;
    border-bottom: 4rem solid #fff;
    border-left: 50vw solid #f7f7f7;
    height: 0;
    width: 0
}

#home_who1 .city {
    display: block;
    width: 100%
}

#home_who1 .cell {
    max-width: 60rem;
    padding: 8rem 1rem 10rem !important
}

#home_who1 h2 {
    margin-bottom: 4rem
}

#home_who1 li {
    margin: auto;
    max-width: 28rem;
    margin-bottom: 8rem
}

#home_who1 li:last-child {
    margin-bottom: 0
}

#home_who1 p {
    background: #f7f7f7;
    border-top: .0625rem solid #ddd;
    border-left: .0625rem solid #ddd;
    color: #444;
    line-height: 2rem;
    margin: 0 auto 1rem;
    padding: 2rem;
    text-align: left
}

#home_who1 p img {
    display: block;
    height: 2rem;
    margin-bottom: 2rem
}

#home_who1 .avatar {
    float: right;
    height: 3rem;
    margin-left: 1rem;
    width: 3rem
}

#home_who1 .name {
    margin-bottom: .5rem;
    text-align: right
}

#home_who1 .position {
    font-size: .875rem;
    text-align: right
}

#home_who1 .icon {
    color: #444;
    display: block;
    font-size: 6rem;
    margin: 0 auto 2rem
}

#home_who2 {
    background: #0477bf;
    max-height: 100rem;
    overflow: hidden;
    position: relative
}

#home_who2 h2, #home_who2 h3 {
    color: #ecf8ff
}

#home_who2 h3 {
    color: #a1dafd;
    margin-bottom: 4rem
}

#home_who2 .cell {
    margin-top: 4rem
}

#home_who2 .tweets {
    column-fill: balance;
    column-width: 20rem;
    padding: 0 1rem;
    margin: 3.5rem auto 0;
    text-align: left
}

#home_who2 .scroll {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 100
}

#home_who2 .scroll .more {
    border-top: .0625rem solid #03588d;
    background: rgba(4, 119, 191, 0.75);
    display: block;
    text-align: center;
    width: 100%
}

#home_who2 .scroll .more a {
    background: #ecf8ff;
    color: #0477bf;
    display: inline-block;
    margin: 2rem 0;
    padding: .5rem 1rem;
    -webkit-border-radius: 2rem;
    -khtml-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border-radius: 2rem
}

#home_who2 .tweet {
    background: #fff;
    border: .0625rem solid #03588d;
    display: inline-block;
    margin: .5rem auto;
    position: relative;
    padding: 2rem;
    text-align: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

#home_who2 .tweet h4 {
    margin-bottom: .25rem
}

#home_who2 .tweet h5 {
    color: #ccc;
    font-size: .75rem
}

#home_who2 .tweet p {
    clear: both;
    color: #444;
    font-size: .875rem;
    line-height: 1.5rem;
    margin-bottom: 1rem
}

#home_who2 .tweet p a {
    color: #999
}

#home_who2 .tweet .avatar {
    float: left;
    margin-right: 1rem
}

#home_who2 .tweet .icon {
    font-size: 1rem;
    color: #1da1f2;
    position: absolute;
    right: 1.75rem;
    top: 1.5rem
}

#home_who2 .tweet .avatar {
    display: inline-block;
    height: 3rem;
    margin-bottom: .5rem;
    width: 3rem
}

#home_who2 .tweet .deets {
    color: #ccc;
    font-size: .75rem;
    text-align: right
}

#home_who2 .tweet .deets a {
    color: #0477bf;
    float: left
}

#home_who2 .tweet .deets .popular {
    color: gold
}

#home_why {
    background: #f7f7f7 url('./lower.png?v=0.6522338725485013') no-repeat;
    background-position: center top;
    background-size: 100%
}

#home_why .cell {
    padding: 12rem 1rem 8rem !important
}

#home_why h2 {
    margin-bottom: 4rem
}

#home_why .icon {
    font-size: 3rem;
    margin-bottom: 2rem
}

#home_why .manifesto {
    color: #444;
    font-size: 1rem;
    line-height: 1.75rem;
    margin: 0 auto 4rem;
    max-width: 40rem;
    text-align: left
}

#home_why .manifesto p {
    margin-bottom: 2rem
}

#home_why .urg {
    margin-bottom: 2rem
}

@media screen and (min-width:60em) {
    .all .cell {
        padding: 0 1rem
    }
    .wide .cell {
        max-width: 74rem
    }
    .standard .cell {
        max-width: 60rem
    }
    .left-half, .right-half {
        width: 50%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box
    }
    .left-half {
        float: left;
        padding-right: 1rem
    }
    .right-half {
        float: right;
        padding-left: 1rem
    }
    .left-third, .middle-third, .right-third {
        float: left;
        width: 33.33333333%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box
    }
    .left-quarter, .middle-quarter, .right-quarter {
        float: left;
        width: 25%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box
    }
    .left-third, .left-quarter {
        padding-right: 1rem
    }
    .middle-third, .middle-quarter {
        padding: 0 .5rem
    }
    .right-third, .right-quarter {
        padding-left: 1rem
    }
    #menu {
        float: left;
        width: 16rem
    }
    #menu.top, #menu.bottom {
        margin: 0
    }
    #content {
        float: right;
        max-width: 36rem
    }
    .wide #content {
        max-width: 50rem
    }
}

@media screen and (min-width:40em) and (max-width:59.9375em) {
    .cell {
        max-width: 40rem
    }
}

@media screen and (min-width:40em) {
    body.mid .cell {
        max-width: 40rem
    }
}

@media screen and (min-width:39.875rem) {
    .wrap, .tabgroup, .menugroup {
        border: .0625rem solid #ddd
    }
    .card .expiry, .card .security {
        float: left;
        width: 50%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box
    }
    .card .expiry {
        padding-right: 1rem
    }
    .card .security {
        padding-left: 1rem
    }
    .card.address .name, .card.address .number, .card.address .street, .card.address .city, .card.address .state-code, .card.address .country {
        float: left;
        width: 50%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box
    }
    .card.address .name, .card.address .street, .card.address .state-code {
        padding-right: 1rem
    }
    .card.address .number, .card.address .city, .card.address .country {
        padding-left: 1rem
    }
    .card.address .accepted {
        display: block
    }
}

@media screen and (min-width:28em) {
    body.min .cell, .body.min .cell {
        max-width: 28rem
    }
    body.min .wrap, .body.min .wrap, body.min .tabgroup, .body.min .tabgroup, body.min .menugroup, .body.min .menugroup {
        border: .0625rem solid #ddd
    }
    body.min #foot .links, .body.min #foot .links {
        display: none
    }
    .wrap, .panel, .stops {
        padding: 2rem
    }
    #foot .links li {
        display: inline-block
    }
}

@media screen and (min-width:60em) {
    #home h1 {
        font-size: 3rem
    }
    #home h2 {
        font-size: 2rem
    }
    #home h3 {
        font-size: 1.125rem;
        line-height: 1.875rem
    }
    #home_what .features ul {
        column-count: 2;
        column-gap: 4rem;
        max-width: 54rem
    }
    #home_what .features li:last-child {
        padding-bottom: 4rem
    }
    #home_what .interface h2 {
        margin-bottom: 1.5rem
    }
    #home_what .interface h3 {
        display: block
    }
    #home_what .interface img {
        display: inline-block;
        margin: -12rem auto 4rem;
        max-width: 60rem;
        position: relative;
        width: 100%;
        z-index: 100
    }
    #home_how ul {
        column-count: 3;
        column-gap: 8rem
    }
    #home_how li {
        margin-bottom: 0
    }
    #home_who1 ul {
        column-count: 2;
        column-gap: 4rem;
        column-rule: .0625rem dashed #ddd
    }
    #home_who1 li {
        display: inline-block;
        margin-bottom: 0
    }
    #home_who1 li:nth-child(1), #home_who1 li:nth-child(3) {
        margin-bottom: 8rem
    }
}